{
    "tabWidth": 4,
    "useTabs": false,
    "overrides": [
        {
            "files": ["*.md"],
            "options": {
                "proseWrap": "always",
                "bracketSpacing": false
            }
        }
    ]
}
