{
  "tabWidth": 4,
  "useTabs": false,
  "overrides": [
    {
      "files": ["*.md"],
      "options": {
        "proseWrap": "always"
      }
    },
    {
      "files": ["*.cs"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
